<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <mat-icon class="material-symbols-outlined">home</mat-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" href="/tabs/events">
      <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="specials" href="/tabs/specials">
      <mat-icon class="material-symbols-outlined">attach_money</mat-icon>
      <ion-label>Specials</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="menus" href="/tabs/menus">
      <mat-icon class="material-symbols-outlined">local_bar</mat-icon>
      <ion-label>Menus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="locations" href="/tabs/locations">
      <mat-icon class="material-symbols-outlined">location_on</mat-icon>
      <ion-label>Locations</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
