:root {
    --ion-color-primary: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ion-header {
    background: #173A8C;
    padding-top: 1rem;
}

ion-toolbar.top {
    --background: #173A8C !important;
    --min-height: 100px;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;

    
    .title {
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .subheading {
        color: #C8D7F3;
        font-size: 0.8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
    }
}

ion-content {
    --background: white;
}
