ion-toolbar {
    --background: #173A8C;
    --min-height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    --border-width: 0;
    --border-color: #173A8C;

    .logo {
        height: 90px;
    }

    .subtitle {
        color: #C8D7F3;
        font-size: 0.8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin-bottom: 0 !important;
        padding: 0 1rem;
    }
}