<ion-header class="ion-no-border">
  <app-toolbar></app-toolbar>
  <ion-toolbar class="category-toolbar">
  
    <div class="content-title">
    <h2>
      Featured Events
    </h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="border">

  <ion-row>
    <ion-col>
     <ion-card>
          <div class="logo">
            <img src="assets/scaryclown.jpg" style="width: 100%;" alt="">
          </div>
          <ion-card-header>
            <h3 style="color: black;">Hammerween 2025</h3>
          </ion-card-header>

          <ion-card-content>
            <p class="description">
              Enter if you dare—Hammerween unleashes twisted fun, eerie beats, and chilling costume chaos all night.
            </p>
            <div class="address">
              <ion-icon aria-hidden="true" name="calendar-clear-outline"></ion-icon>
              <p>
                Fri, Oct 31
              </p>
            </div>
            <div class="phone">
              <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
              <p>
                9:00pm - 2:00am
              </p>
            </div>
            <div class="hours">
              <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
              <p>
                Hammerhead • Main Bar • On the Deck
              </p>
            </div>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
     <ion-card>
          <div class="logo">
            <img src="assets/sexypool.jpg" style="width: 100%;" alt="">
          </div>
          <ion-card-header>
            <h3 style="color: black;">Pool Tournament</h3>
          </ion-card-header>

          <ion-card-content>
            <p class="description">
              Sharp shots, cold brews, and bragging rights—Hammerhead’s pool tournament is where legends are made..
            </p>
            <div class="address">
              <ion-icon aria-hidden="true" name="calendar-clear-outline"></ion-icon>
              <p>
                Wed, Jul 16
              </p>
            </div>
            <div class="phone">
              <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
              <p>
                8:00pm
              </p>
            </div>
            <div class="hours">
              <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
              <p>
                Hammerhead • Main Bar
              </p>
            </div>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>

    <ion-row>
    <ion-col>
     <ion-card>
          <div class="logo">
            <img src="assets/era.jpg" style="width: 100%;" alt="">
          </div>
          <ion-card-header>
            <h3 style="color: black;">DJ Era</h3>
          </ion-card-header>

          <ion-card-content>
            <p class="description">
              Experience an unforgettable night with DJ Era—expertly curated beats, high-energy sets, and a vibe that keeps the dance floor moving..
            </p>
            <div class="address">
              <ion-icon aria-hidden="true" name="calendar-clear-outline"></ion-icon>
              <p>
                Fri, Jul 18
              </p>
            </div>
            <div class="phone">
              <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
              <p>
                9:00pm
              </p>
            </div>
            <div class="hours">
              <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
              <p>
                Hammerhead • Main Bar
              </p>
            </div>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>

      <ion-row>
    <ion-col>
     <ion-card>
          <div class="logo">
            <img src="assets/sam.jpg" style="width: 100%;" alt="">
          </div>
          <ion-card-header>
            <h3 style="color: black;">Sam McDonald - Live Music</h3>
          </ion-card-header>

          <ion-card-content>
            <p class="description">
              Sam McDonald brings soulful vocals and acoustic vibes for a night of unforgettable live music.
            </p>
            <div class="address">
              <ion-icon aria-hidden="true" name="calendar-clear-outline"></ion-icon>
              <p>
                Sun, Jul 20
              </p>
            </div>
            <div class="phone">
              <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
              <p>
                4:00pm - 8:00pm
              </p>
            </div>
            <div class="hours">
              <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
              <p>
                Hammerhead • Main Bar
              </p>
            </div>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
